<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>投诉建议</title>
<meta name="keywords" content="">
<meta name="description" content="">
<link rel="shortcut icon" href="favicon.ico"> 
<link type="text/css" href="../../css/layui.css" rel="stylesheet">
<link type="text/css" href="../../css/bootstrap.min.css" rel="stylesheet">
<link type="text/css" href="../../css/font-awesome.min.css" rel="stylesheet">
<link type="text/css" href="../../css/plugins/iCheck/custom.css" rel="stylesheet">
<link type="text/css" href="../../css/animate.min.css" rel="stylesheet">
<link type="text/css" href="../../css/style.min.css" rel="stylesheet">
<link type="text/css" href="../../css/plugins/datapicker/datepicker3.css" rel="stylesheet"> 
<link href="../../css/plugins/datetimepicker/bootstrap-datetimepicker.min.css" rel="stylesheet" />
<style>
   td{text-align: center;}
</style>
</head>
<body class="gray-bg">
	<div class="wrapper wrapper-content animated fadeInRight">
        <div class="row">
            <div class="col-sm-12">
                <div class="ibox float-e-margins">
                    
				        <div class="layui-tab layui-tab-brief ibox-title" lay-filter="component-tabs-hash">
				           <ul class="layui-tab-title">
					            <li lay-id="11"><a href="EditWorker.html">职员信息详情</a></li>
					            <li lay-id="22"><a href="archives.html">职员档案</a></li>
					            <li lay-id="44"><a href="WorkerAttendList.html">职员考勤</a></li>
					            <li lay-id="55"><a href="WorkerPerformance.html">查看绩效</a></li>
					            <li lay-id="55"><a href="WorkerWages.html">查看工资</a></li>
					            <li class="layui-this" lay-id="55"><a href="WorkerComplaint.html">投诉建议</a></li>
				          </ul>
					        
				        </div>
				      
                     <div class="ibox-content">
                            <div class="row">
                                 
              <div class="col-select-item row-item">
                                	
                                    <select class="input-sm form-control input-s-sm inline">
                                        <option value="0">按投诉类型</option>
                                        <option value="1">师资力量</option>
                                        <option value="2">园所环境</option>
                                        <option value="3">安全细节</option>
                                        <option value="4">营养状况</option>
 										<option value="5">卫生方面</option>
 										 <option value="6">收费问题</option>
                                    </select>
                                </div>
                                <div class="col-datepicker row-item daterange-item" id="data_5">
                            		 
                                    <div class="input-daterange input-group" id="datepicker">
                                    	
                                        <input type="text" class="input-sm form-control" name="start" id="start" value="默认当天" />
                                        <span class="input-group-addon">到</span>
                                        <input type="text" class="input-sm form-control" name="end" id="end" value="默认当天" />
                                    </div>
                                </div>
                                
                                <div class="col-search-box row-item">
                                    <div class="input-group">
                                         <span class="input-group-btn"><button type="button" class="btn btn-sm btn-primary"> 搜 索 </button> </span>
                                    </div>
                                </div>
                            </div>
                            <div class="table-responsive">
                                <table class="table table-hover">
                                    <thead>
                                        <tr>
                                            
                                            <th width="10%" style="text-align: left;">类型</th>
                                           
                                            
                                            <th width="8%" style="text-align:center;">投诉人姓名</th>
                                            <th width="8%" style="text-align:center;">投诉人电话</th>
                                         	<th width="6%" style="text-align:center;">是否匿名</th>
                                         	<th width="6%" style="text-align:center;">是否回复</th>
                                         	  <th width="8%" style="text-align:center;">投诉日期</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                             
                                            <td style="text-align: left;">师资力量</td>
                                           
                                            <td style="text-align:center;">胡锦涛</td>
                                           
                                           
                                           
                                            <td>13439556016</td>
                                             <td>是</td>
                                            
                                             <td>已回复</td>
                                             
                                           <td>2018-08-05</td>
                                        </tr>
                                        <tr>
                                             
                                            <td style="text-align: left;">师资力量</td>
                                           
                                            <td style="text-align:center;">胡锦涛</td>
                                           
                                           
                                           
                                            <td>13439556016</td>
                                             <td>是</td>
                                            
                                             <td>已回复</td>
                                             
                                           <td>2018-08-05</td>
                                        </tr>
                                        
                                    </tbody>
                                </table>
                                <div class="group-bottom-box">
                                	<div class="group-left"> </div>
                                    <div class="pagewrap">
                                    	<div class="pagemunber">共 105484 条</div>
                                        <div class="pagebox">
                                            <span class="previous">上一页</span>
                                            <span class="current" style="border-color: #1ab394; background-color: #1ab394;color: #FFF">1</span>
                                            <a href="#">2</a>
                                            <a href="#">3</a>
                                            <a href="#">4</a>
                                            <a href="#">5</a>
                                            <a href="#">6</a>
                                            <a href="#">7</a>
                                            <span>...</span>
                                            <a href="#">200</a>
                                            <a href="#">下一页</a>
                                        </div>
                                        
                                    </div>
                                </div>
                                
                                
                            </div>
    
                        </div>
                    </div>
            </div>
        </div>
    </div>    
    
<script type="text/javascript" src="../../js/jquery.min.js"></script>
 
 <script src="../../js/plugins/datetimepicker/bootstrap-datetimepicker.min.js"></script>
<script src="../../js/PageLoading.js"></script>
<script src="../../js/plugins/datetimepicker/locales/bootstrap-datetimepicker.zh-CN.js"></script> 
<script type="text/javascript">
     
    $(function () {
          $("#start").datetimepicker({
            format: 'yyyy-mm-dd',
            weekStart: 1,
            autoclose: true,
            startView: 2,
            minView: "month",
            autoclose: true,
            forceParse: false,
            language: 'zh-CN',
            todayBtn: false,
            endDate: "2018-04-26",
            minuteStep: 10
        });
$("#end").datetimepicker({
            format: 'yyyy-mm-dd',
            weekStart: 1,
            autoclose: true,
            startView: 2,
            minView: "month",
            autoclose: true,
            forceParse: false,
            language: 'zh-CN',
            todayBtn: false,
            endDate: "2018-04-26",
            minuteStep: 10
        });
        
    });
</script>
</body>
</html>