
<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>添加职工</title>
<meta name="keywords" content="">
<meta name="description" content="">
<link rel="shortcut icon" href="favicon.ico"> 
<link type="text/css" href="../../css/bootstrap.min.css" rel="stylesheet">
<link type="text/css" href="../../css/font-awesome.min.css" rel="stylesheet">
<link type="text/css" href="../../css/plugins/iCheck/custom.css" rel="stylesheet">
<link type="text/css" href="../../css/animate.min.css" rel="stylesheet">
<link href="../../css/plugins/summernote/summernote.css" rel="stylesheet">
<link href="../../css/plugins/summernote/summernote-bs3.css" rel="stylesheet">
<link href="../../css/style.min.css" rel="stylesheet">
<link type="text/css" href="../../css/plugins/datapicker/datepicker3.css" rel="stylesheet">
<link type="text/css" href="../../css/plugins/awesome-bootstrap-checkbox/awesome-bootstrap-checkbox.css" rel="stylesheet">
</head>
<body class="gray-bg">
	<div class="wrapper wrapper-content animated fadeInRight">
        <div class="row">
            <div class="col-sm-12">
                <div class="ibox float-e-margins">
                    <div class="ibox-title"><h5>教职工账号信息</h5></div>
                    <div class="ibox-content">
                        <form class="form-horizontal m-t" id="signupForm">
                        	 <div class="form-group" style="margin-left: 250px;">
                                <label class="col-sm-3 control-label">姓名：</label>
                                <div class="col-sm-4">
                                    <input type="text"   name="" id="" class="form-control m-b-x" datatype="s6-18" nullmsg="请填写广告标题！" errormsg="广告标题格式不对！">
                                </div>
                            </div>
                             <div class="form-group" style="margin-left: 250px;">
                                <label class="col-sm-3 control-label">手机号：</label>
                                <div class="col-sm-4">
                                    <input type="text" name="" id="" class="form-control m-b-x" datatype="s6-18" nullmsg="请填写广告标题！" errormsg="广告标题格式不对！">
                                </div>
                            </div>
                        	<div class="form-group" style="margin-left: 250px;">
                                <label class="col-sm-3 control-label">选择角色：</label>
                                <div class="col-sm-4 form-table">
                                    <select class="input-sm form-control input-s-sm inline">
                                        <option value="0">请选择班级</option>
                                        <option value="1">园长</option>
                                        <option value="2">老师</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group" style="margin-left: 250px;">
                                <label class="col-sm-3 control-label">性别：</label>
                                <div class="col-sm-5">
                                   <div class="checkbox group-check">
                                        <label class="checkbox-inline i-checks"><input type="radio" name="radio1" value="">男</label>
                                    	<label class="checkbox-inline i-checks"><input type="radio" name="radio1" value="">女</label>
                                    </div>
                                </div>
                            </div>
                                  <div class="form-group" style="margin-left: 250px;">
                                <label class="col-sm-3 control-label">状态：</label>
                                <div class="col-sm-5">
                                   <div class="checkbox group-check">
                                        <label class="checkbox-inline i-checks"><input type="radio" name="radio1" value="">在职</label>
                                
                                    </div>
                                </div>
                            </div>
                            
                            	<div class="form-group" style="margin-left: 250px;">
                                <label class="col-sm-3 control-label">选择班级/群组：</label>
                                <div class="col-sm-4 form-table">
                                    <select class="input-sm form-control input-s-sm inline">
                                        <option value="0">请选择班级</option>
                                        <option value="1">大班</option>
                                        <option value="2">小班</option>
                                    </select>
                                </div>
                            </div>

                           
                             
                           	  
                           	  <div class="form-group" style="margin-left: 250px;">
                                <label class="col-sm-3 control-label">收費方案：</label>
                                <div class="col-sm-4 form-table">
                                    <select class="input-sm form-control input-s-sm inline">
                                        <option value="0">请选择收费方案</option>
                                        <option value="1">大班</option>
                                        <option value="2">二班</option>
                                    </select>
                                </div>
                            </div>
                           	   <div class="form-group" style="margin-left: 250px;">
                                <label class="col-sm-3 control-label">考勤卡号：</label>
                                <div class="col-sm-4">
                                    <input type="text" name="" id="" class="form-control m-b-x" datatype="s6-18" nullmsg="请填写广告标题！" errormsg="广告标题格式不对！">
                                </div>
                            </div>
                            
                        	
                            <div class="hr-line-dashed"></div>
                            <div class="form-group" style="margin-left: 250px;">
                                <div class="col-sm-4 col-sm-offset-3">
                                    <button class="btn btn-primary form-btn" >下一步</button>
                                    <button class="btn btn-white" type="button" onClick="javascript:history.back(-1);">返回</button>
                                </div> 
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>    
    
    
<script type="text/javascript" src="../../js/jquery.min.js"></script>
<script type="text/javascript" src="../../js/bootstrap.min.js"></script>
<script type="text/javascript" src="../../js/content.min.js"></script>
<script type="text/javascript" src="../../js/demo/form-validate-demo.min.js"></script>
<script type="text/javascript" src="../../js/plugins/validate/Validform_v5.3.2_min.js"></script>
<script type="text/javascript" src="../../js/plugins/iCheck/icheck.min.js"></script>
<script type="text/javascript" src="../../js/plugins/datapicker/bootstrap-datepicker.js"></script>
<script type="text/javascript" src="../../js/plugins/cropper/cropper.min.js"></script>
<script type="text/javascript" src="../../js/demo/form-advanced-demo.min.js"></script>
<script type="text/javascript">
$(function(){
	$("#signupForm").Validform({tiptype:4});
	$(".i-checks").iCheck({checkboxClass:"icheckbox_square-green",radioClass:"iradio_square-green",})
	 
});
</script>
</body>
</html>