
<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>班级管理</title>
<meta name="keywords" content="">
<meta name="description" content="">
<link rel="shortcut icon" href="favicon.ico">
<link type="text/css" href="../../css/bootstrap.min.css" rel="stylesheet">
<link type="text/css" href="../../css/font-awesome.min.css" rel="stylesheet">
<link type="text/css" href="../../css/plugins/iCheck/custom.css" rel="stylesheet">
<link type="text/css" href="../../css/animate.min.css" rel="stylesheet">
<link type="text/css" href="../../css/style.min.css" rel="stylesheet">
<link type="text/css" href="../../css/plugins/datapicker/datepicker3.css" rel="stylesheet">
<link type="text/css" href="../../css/plugins/awesome-bootstrap-checkbox/awesome-bootstrap-checkbox.css" rel="stylesheet">


</head>
<body class="gray-bg">
    <div class="wrapper wrapper-content animated fadeInRight">
        <div class="row">
                <div class="col-sm-12">
                    <div class="ibox float-e-margins">
                        <div class="ibox-title">
                            <h5>班级管理</h5>
                            <div class="ibox-tools"><a  class="btn btn-primary btn-xs">添加班级</a></div>
                        </div>
                        <div class="ibox-content">
                            <div class="row">
                                
                               
                                 <div class="col-datepicker row-item daterange-item" id="data_5">
                            		<label class="font-noraml">开班时间</label>
                                    <div class="input-daterange input-group" id="datepicker">
                                        <input type="text" class="input-sm form-control" name="start" value="2016-02-11" />
                                        <span class="input-group-addon">到</span>
                                        <input type="text" class="input-sm form-control" name="end" value="2016-02-17" />
                                    </div>
                                </div>

                                
                                <div class="col-search-box row-item">
                                    <div class="input-group">
                                        <input type="text" placeholder="请输入班级名" class="input-sm form-control"> <span class="input-group-btn"><button type="button" class="btn btn-sm btn-primary"> 搜索</button> </span>
                                    </div>
                                </div>
                            </div>
                            
                            <div class="table-responsive">
                                <table class="table table-hover">
                                    <thead>
                                        <tr>
                                            <th width="3%"><label><input type="checkbox" class="i-checks" name="input[]"></label></th>
                                            <th width="6%">序号</th>
                                            <th width="13%">班级名称</th>
                                            <th width="13%">创建人</th>
                                            <th width="13%">带班老师</th>
                                            <th width="13%">创建时间</th>
                                         	 <th width="13%">人数</th>
                                            <th width="13%">课程</th>
                                            
                                            <th width="13%">操作</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td><input type="checkbox" class="i-checks" name="input[]"></td>
                                            <td>1</td>
                                            <td>班級1</td>
                                            <td>创建人1</td>
                                            <td>学习</td>
                                            <td >2018-8-8</td>
                                    		<td>20</td>
                                            <td>3 <a href="javascript:void(0);" class="canyu-btn">查看 <i class="fa fa-bookmark-o"></i></a></td>
                                            
                                            <td><div class="group-btn-edit"><a href="添加拍号.html"><i class="fa fa-pencil-square-o"></i>修改</a><a href="#"><i class="fa fa-trash"></i>删除</a></div></td>
                                        </tr>
                                           <tr>
                                            <td><input type="checkbox" class="i-checks" name="input[]"></td>
                                            <td>1</td>
                                            <td>班級1</td>
                                            <td>创建人1</td>
                                            <td>学习</td>
                                            <td >2018-8-8</td>
                                    		<td>20</td>
                                            <td>3 <a href="javascript:void(0);" class="canyu-btn">查看 <i class="fa fa-bookmark-o"></i></a></td>
                                            
                                            <td><div class="group-btn-edit"><a href="添加拍号.html"><i class="fa fa-pencil-square-o"></i>修改</a><a href="#"><i class="fa fa-trash"></i>删除</a></div></td>
                                        </tr>
                                         <tr>
                                            <td><input type="checkbox" class="i-checks" name="input[]"></td>
                                            <td>1</td>
                                            <td>班級1</td>
                                            <td>创建人1</td>
                                            <td>学习</td>
                                            <td >2018-8-8</td>
                                    		<td>20</td>
                                            <td>3 <a href="javascript:void(0);" class="canyu-btn">查看 <i class="fa fa-bookmark-o"></i></a></td>
                                            
                                            <td><div class="group-btn-edit"><a href="添加拍号.html"><i class="fa fa-pencil-square-o"></i>修改</a><a href="#"><i class="fa fa-trash"></i>删除</a></div></td>
                                        </tr>
                                           <tr>
                                            <td><input type="checkbox" class="i-checks" name="input[]"></td>
                                            <td>1</td>
                                            <td>班級1</td>
                                            <td>创建人1</td>
                                            <td>学习</td>
                                            <td >2018-8-8</td>
                                    		<td>20</td>
                                            <td>3 <a href="javascript:void(0);" class="canyu-btn">查看 <i class="fa fa-bookmark-o"></i></a></td>
                                            
                                            <td><div class="group-btn-edit"><a href="添加拍号.html"><i class="fa fa-pencil-square-o"></i>修改</a><a href="#"><i class="fa fa-trash"></i>删除</a></div></td>
                                        </tr>
                                          <tr>
                                            <td><input type="checkbox" class="i-checks" name="input[]"></td>
                                            <td>1</td>
                                            <td>班級1</td>
                                            <td>创建人1</td>
                                            <td>学习</td>
                                            <td >2018-8-8</td>
                                    		<td>20</td>
                                            <td>3 <a href="javascript:void(0);" class="canyu-btn">查看 <i class="fa fa-bookmark-o"></i></a></td>
                                            
                                            <td><div class="group-btn-edit"><a href="添加拍号.html"><i class="fa fa-pencil-square-o"></i>修改</a><a href="#"><i class="fa fa-trash"></i>删除</a></div></td>
                                        </tr>
                                    </tbody>
                                </table>
                                <div class="group-bottom-box">
                                	<div class="group-left"><label class="group-xuan"><input type="checkbox" class="i-checks" name="input[]">全选</label><a class="btn btn-white btn-bitbucket"><i class="fa fa-download"></i>批量导出</a><a class="btn btn-white btn-bitbucket"><i class="fa fa-trash"></i>批量删除</a></div>
                                    <div class="pagewrap">
                                    	<div class="pagemunber">共 105484 条</div>
                                        <div class="pagebox">
                                            <span class="previous">上一页</span>
                                            <span class="current">1</span>
                                            <a href="#">2</a>
                                            <a href="#">3</a>
                                            <a href="#">4</a>
                                            <a href="#">5</a>
                                            <span>...</span>
                                            <a href="#">200</a>
                                            <a href="#">下一页</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    </div>
<script type="text/javascript" src="../../js/jquery.min.js"></script>
<script type="text/javascript" src="../../js/bootstrap.min.js"></script>
<script type="text/javascript" src="../../js/plugins/peity/jquery.peity.min.js"></script>
<script type="text/javascript" src="../../js/content.min.js"></script>
<script type="text/javascript" src="../../js/plugins/iCheck/icheck.min.js"></script>
<script type="text/javascript" src="../../js/plugins/datapicker/bootstrap-datepicker.js"></script>
<script type="text/javascript" src="../../js/plugins/datapicker/datepickers.js"></script>
<script type="text/javascript" src="../../js/layer/layer.js"></script>




<script type="text/javascript">
$(function(){
	$('.canyu-btn').on('click', function(){
        layer.open({
            type: 2,
            title: '参与人数（21人）',
            area : ['700px' , '90%'],
            content: ['Course_Management.html']
        });
	});
	$('.btn').on('click',function(){
		 layer.open({
            type: 2,
            title: '添加班级',
            area : ['58%' , '90%'],
            content: ['Add_Class.html']
        });
	})
	
});
</script>
</body>
</html>