<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title></title>
		<meta name="keywords" content="">
<meta name="description" content="">
<link rel="shortcut icon" href="favicon.ico"> 
		<link rel="shortcut icon" href="favicon.ico"> 
<link type="text/css" href="../../css/bootstrap.min.css" rel="stylesheet">
<link type="text/css" href="../../css/font-awesome.min.css" rel="stylesheet">
<link type="text/css" href="../../css/plugins/iCheck/custom.css" rel="stylesheet">
<link type="text/css" href="../../css/animate.min.css" rel="stylesheet">
<link type="text/css" href="../../css/style.min.css" rel="stylesheet">
<link type="text/css" href="../../css/plugins/datapicker/datepicker3.css" rel="stylesheet">
<link type="text/css" href="../../css/plugins/awesome-bootstrap-checkbox/awesome-bootstrap-checkbox.css" rel="stylesheet">
	<style type="text/css">
		.button {
    background-color:dodgerblue;
    border: none;
    color: white;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}
	</style>
	</head>
	<body>
           <br><br>
           <table style="position: relative;left: 60px;">
           	<tr style="text-align: center;">
           		<td>
           			<span style="color: red;">*</span>班级类型名称:
           		</td>
           		<td style="text-indent: 15px;">
           			<input type="text" value="兴趣/特长班" style="width: 312px;height: 33px;">
           		</td>
           	</tr>
           </table>
			<hr color="lightgrey">
		 <div style="position: relative;left: 440px;top: 5px;">
		 	<button class="button">保存</button>
		 	<button class="button" style="background-color: lightgray;">取消</button>
		 </div>
	</body>
</html>
<script type="text/javascript" src="../../js/jquery.min.js"></script>
<script type="text/javascript" src="../../js/bootstrap.min.js"></script>
<script type="text/javascript" src="../../js/plugins/peity/jquery.peity.min.js"></script>
<script type="text/javascript" src="../../js/content.min.js"></script>
<script type="text/javascript" src="../../js/plugins/iCheck/icheck.min.js"></script>
<script type="text/javascript" src="../../js/plugins/datapicker/bootstrap-datepicker.js"></script>
<script type="text/javascript" src="../../js/plugins/datapicker/datepickers.js"></script>
<script type="text/javascript" src="../../js/layer/layer.js"></script>
<script type="text/javascript" src="../../js/plugins/validate/Validform_v5.3.2_min.js"></script>
<script type="text/javascript" src="../../js/demo/form-validate-demo.min.js"></script>